.app-header {
  padding: 10px;
  background-color: #282c34;
  color: white;
}
.main{
 
  margin: 0;
  
}

.app-header>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.title{
text-align: center;
}

.background{
  font-family: "Arial";
  overflow:auto;
  width: 98vw;
  height: 100vh;
  background-color: #557fd3;
}

